{% extends "base.html" %}
<script type="text/javascript" src="{{config.url_prefix}}/static/{{config.theme}}/site.js" />
{% block title %}{{post.title|escape}} - {{config.blog_name}}{% endblock %}
{% block body %}
  <h2>{{post.title|escape}}</h2>
    <p class="post-info" style="text-align:right">
      <span style="cursor:pointer;" onclick="http://www.namank.com/What-up"> {{config.author_name}} </span>
    </p>
    <div style="padding-left:10px;" id="post_content"> 
  {{post.rendered}}
  </div>
  <p class="postmeta">
    <span class="date">
 {{post.published_tz|date:config.date_format}} | 
      {% if post.tags %}
        {% for tag in post.tag_pairs %} 
          <a class="post-info"  href="{{config.url_prefix}}/tag/{{tag.1|escape}}">{{tag.0|escape}}</a>{% if not forloop.last %} {% endif %}
        {% endfor %}
      {% endif %}
    </span>
  </p>
{% comment %}
  {% if prev %}
    <a id="prev" href="{{config.url_prefix}}{{prev.path}}"> previous </a>
  {% endif %}
  {% if next %}
    <a id="next" href="{{config.url_prefix}}{{next.path}}"> next </a>
  {% endif %}
{% endcomment %}
<script type="text/javascript">  
  function toggle(id) {
  var ele = document.getElementById(id);
  if(ele.style.display == "block") {
  ele.style.display = "none";
  }
  else {
  ele.style.display = "block";
  }
  }
</script>

  {% if config.disqus_forum %}
<br />
    <div style="padding-left:10px;" id="comments"><a href="javascript:toggle('disqus_thread');">Comments</a></div>
    <div style="display: none" id="disqus_thread"></div>
    {% if devel %}
      <script type="text/javascript">
        disqus_developer = 1;
      </script>
    {% endif %}
    <script type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/embed.js"></script>
    <noscript><a href="http://disqus.com/forums/{{config.disqus_forum}}/?url=ref">View the discussion thread.</a></noscript>
  {% endif %}

{% endblock %}
